* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-family: "Sora", sans-serif;
}

/* ============================ common ============================ */

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
}

.title__logo {
    color: #000958;
}
